:root {/*伪类控制全局*/
  --primary-color: #31c27c;/*最初的颜色*/
}
body {      /*身体*/
  margin: 0;/* 外边距设置为0*/
  background: #f5f5f5;/*背景色*/
  font-family: Microsoft Yahei;/*字体风格：微软雅黑*/
  font-size: 14px;  /*字体大小*/
  /* min-width: 1000px; */
}
a {/*超链接类*/
  text-decoration: none;/*字体装饰：无*/
  color: #000;/*颜色*/
}
header {  /*头部标签*/
  height: 90px;/*高度*/
  background: white;/*背景颜色*/
  display: flex;/*弹性布局方式，默认横向*/
  align-items: center;/*布局内容在中心位置*/
}
.header-inner, main {
  /* width: 1200px; */
  padding: 20px;/*内边距*/
  margin: auto;/*外边距：自适应*/
}
.tag-list {
  margin-top: 50px;/*顶部外边距*/
  margin-bottom: 15px;/*底部外边距*/
}
.tag-item {
  display: inline-block;/*行内块级元素*/
  padding: 0 8px;/*内边距，上下是0，左右是8px*/
  margin-right: 24px;/*右外边距*/
  line-height: 26px;/*行高*/
  color: #000;/*颜色*/
  text-decoration: none;/*无字体装饰*/
}
.tag-active {
  background: var(--primary-color);/*背景通过var（）函数调用root里的颜色*/
  color: white;
}
.tag-item:not(.tag-active):hover {/*鼠标在tag-item而不是tag-active上悬浮时为绿色*/
  color: var(--primary-color);
}
.nowrap {/*nowrap强制不换行*/
  white-space: nowrap;/*文本不会换行，文本会在在同一行上继续，直到遇到标签为止*/
  overflow: hidden;/*隐藏溢出部分*/
  text-overflow: ellipsis;/*溢出部分以...形式显示*/
}
.playlist {
  display: grid;/*网格布局*/
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));/*尽可能多地放下这些二百像素的网格*/
  gap: 45px 15px;/*网格间隙*/
  margin-bottom: 45px;/*底部外边距*/
}
.cover-wrap {
  display: flex;/*弹性布局方式，默认横向*/
  position: relative;/*相对定位*/
  overflow: hidden;/*隐藏溢出部分*/
  width: 100%;/*宽度*/
  margin-bottom: 15px;/*底部外边距*/
  align-items: center;/*布局内容在中心位置*/
  justify-content: center;/*将子元素在主轴上居中对齐*/
  cursor: pointer;/*在计算机中将光标呈现为指示链接的指针（一只手）*/
}
.cover-img {
  width: 100%;/*宽度*/
  transition: all 0.75s;/*过渡时间0.75s*/
}
.cover-mask {
  position: absolute;/*绝对定位*/
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;/*相对父元素距离都是0*/
  background: #000;/*背景色*/
  opacity: 0;/*DOM 结构：透明度为 100%，不会让元素从渲染树消失，渲染元素继续占据空间，只是内容不可见*/
  transition: all 0.5s;/*过渡时间0.5s*/
}
.cover-play {
  position: absolute;/*绝对定位*/
  left: 50%;
  top: 50%;/*绝对定位，相对于父元素距离左边和顶部占50%，相当于在中间位置*/
  margin-left: -35px;/*外边距向左移动35px*/
  margin-top: -35px;/*外边距向上移动35px*/
  opacity: 0;/*DOM 结构：透明度为 100%，不会让元素从渲染树消失，渲染元素继续占据空间，只是内容不可见*/
  transform: scale(0.7);//*元素缩放为0.7倍*/
  transition: all 0.5s;/*过渡时间0.5s*/
}
.cover-wrap:hover .cover-mask {
  opacity: 0.2;/*透明度0.2*/
}
.cover-wrap:hover .cover-play {
  opacity: 1;/*透明度1，即不透明*/
  transform: scale(1);/*缩放为原来的1倍*/
}
.cover-wrap:hover .cover-img {
  transform: scale(1.07);/*缩放为原来的1。07倍*/
}
.album-title:hover {
  color: var(--primary-color);/*绿色*/
}
.album-author {
  color: #999;
  line-height: 1.6;/*行内高度*/
}
.album-author:hover {
  color: var(--primary-color);
}
.album-time {
  color: #999;
}
.page {
  display: flex;/*弹性布局*/
  align-items: center;/*布局内容在中心位置*/
  justify-content: center;/*将子元素在主轴上居中对齐*/
}
.page-item {
  display: inline-block;/*行内块级元素*/
  color: #a2a2a2;/*颜色*/
  line-height: 50px;/*行内高度*/
  padding: 0 20px;/*内边距上下为0，左右为20px*/
  margin: 10px;/*外边距*/
  font-size: 16px;/*字体大小*/
}
.page-current, .page-item:not(.page-more):hover {
  background: var(--primary-color);/*背景色*/
  color: white;
}
footer {/*页脚*/
  margin-top: 60px;/*顶部外边距*/
  background: #333;/*黑色背景色*/
  height: 200px;/*高度*/
}


